*{
    padding: 0;
}
html{
    margin: 0;
    font-size: 62.5%;
}
body{
    margin: 0   ;
    font-size: 1.8rem;
    height: 100vh;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d47a1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
}
nav a {
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 1.8rem 2rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #4285F4;
}

.active {
    background-color: #2BBBAD;
}

.content{
   width: 100%;
   height: calc(100vh - 5.8rem);
   display: inline-flex;

}
#content-main{
    width: 70%;
    color: #bdbdbd;
    overflow-x: hidden;
    transition: 0.5s;
}

#content-main h3{
    color: #9e9e9e;
}   
#content-main section{
    min-width: 32rem;   
    max-width:calc(32rem * 5);
    margin: 0 auto;
}
#content-main article{
    display: inline-flex;
}
.image-panel{
    width: 30rem;
    display: block;
    margin: 0rem 0rem 2rem 2rem;
}
.image-panel header img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
#content-sidebar{
    width: 30%;
    background-color: #fafafa;
    margin-left: 2rem;
    margin-top:-2rem;
    overflow-x: hidden;
    transition: 0.5s;
}
